.navbar-dark {
    background-color: rgb(107, 32, 82);
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: rgb(139, 68, 130);
    color: floralwhite;
}

.footer {
    background-color: rgb(235, 178, 206);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}